In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv('penguins.csv')
dataset.shape

(150, 6)

In [5]:
dataset.isna().sum()

species              0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
gender               6
body_mass_g          0
dtype: int64

In [7]:
dataset['gender'==NaN]

NameError: name 'NaN' is not defined

In [9]:
dataset['gender']

0        male
1      female
2      female
3      female
4      female
        ...
145      male
146    female
147      male
148      male
149    female
Name: gender, Length: 150, dtype: object